:root {
  --fontFamily: "Montserrat", sans-serif;
  --secondFamily: "Roboto", sans-serif;
  --thirtyFamily: "Kaushan Script", cursive;
  --colorHover: #f38181;
  --colorBackground: #fff;
  --colorHeader: #95e1d3;
  --colorTitle: #333333;
  --colorText: #b6b6b6;
}

span {
  color: var(--colorHover);
}

body {
  font-family: var(--fontFamily);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.47;
}

.container {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* ===================header===================== */

.header {
  padding-top: 17px;
  padding-bottom: 80px;
  height: 45px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 660px;
  width: 470px;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-text {
  color: var(--colorHeader);
  font-weight: 700;
  font-size: 30px;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  color: var(--colorHeader);
  font-weight: 400;
  text-decoration: underline;
}
.nav-link:hover {
  color: #f38181;
}

/* ===================main===================== */

.services {
  padding-bottom: 100px;
}

.supline {
  width: 60px;
  height: 4px;
  background-color: var(--colorHover);
  margin: 0 auto;
  margin-bottom: 65px;
}

.services-subtitle {
  font-family: var(--thirtyFamily);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.service {
  width: 331px;
  padding-bottom: 100px;
  padding-left: 60px;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  font-variant: all-small-caps;
  text-align: center;
  padding-bottom: 40px;
}

.service-title {
  font-weight: 400;
  font-size: 14px;
  font-variant: small-caps;
  padding-bottom: 20px;
}

.service-text {
  font-family: var(--secondFamily);
  color: var(--colorText);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.47;
}

.team-subtitle {
  font-family: var(--thirtyFamily);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.team {
  padding-bottom: 80px;
}

.team-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
}

.team-members:last-child {
  margin-left: 0;
}

.team-title {
  font-weight: 700;
  font-size: 30px;
  font-variant: all-small-caps;
  text-align: center;
  padding-bottom: 36px;
}

.team-text {
  font-family: var(--secondFamily);
  color: var(--colorText);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.teammate-name {
  font-weight: 400;
  font-size: 14px;
  font-variant: all-small-caps;
}

.teammate-role {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
}

/* ======================footer======================== */

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
}

.form-input {
  width: 230px;
  height: 39px;
  border: 1px solid var(--colorText);
}

.form-button {
  background-color: var(--colorHeader);
  color: var(--colorBackground);
  font-weight: 700;
  font-size: 14px;
  font-variant: all-small-caps;
  width: 150px;
  height: 40px;
}
